﻿:root {
    --card-white: #fdfdfd;
    --bg: #fafafa;
    --highlight: #eeeeee;
    --border: #e0e0e0;
    --shadow: #bdbdbd;
    --gray: #9e9e9e;
    --dark-gray: #424242;
    --almost-black: #212121;
    --white-card-size: 180px;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: Lato, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, html {
    height: 100%;
    background-color: var(--bg);
    color: var(--almost-black);
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

input {
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid var(--border);
    padding: 5px 10px;
}

textarea {
    border-radius: 5px;
    border: 1px solid var(--border);
    padding: 10px;
}

button, a.btn {
    height: 40px;
    border-radius: 5px;
    background-color: var(--border);
    border: none;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

a.btn {
    text-align: center;
    line-height: 40px;
    font-size: 25px;
}

    button:hover, button.active, a.btn:hover {
        background-color: var(--shadow);
    }

    button.dark, a.btn.dark {
        color: var(--bg);
        background-color: var(--almost-black);
    }

        button.dark:hover, button.dark:active, a.btn.dark:hover {
            background-color: var(--dark-gray);
        }

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

.deckEditor {
    height: 100%;
    padding: 10px;
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 350px 1fr;
    overflow: hidden;
}

.noDeckSelected {
    grid-row: 1 / 3;
    grid-column: 1 / 4;
    font-size: 50px;
    align-self: center;
    justify-self: center;
}

.deckList {
    display: grid;
    grid-template-rows: auto auto 1fr auto auto auto auto;
    grid-row-gap: 10px;
    align-self: stretch;
    overflow: hidden;
}

.deckListContainer {
    overflow-y: auto;
}

.deckListActions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.deckListItem {
    margin-bottom: 10px;
    border: 1px solid var(--border);
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

    .deckListItem.selected, .deckListItem:hover {
        background-color: var(--highlight);
    }

    .deckListItem p {
        margin: 10px 0;
        font-style: italic;
    }

.deckListItemCounts {
    display: grid;
    grid-template-columns: 20px 1fr 20px 1fr;
    grid-column-gap: 10px;
    margin: 0 40px;
}

    .deckListItemCounts .white {
        height: 20px;
        width: 20px;
        background-color: var(--card-white);
        border: 1px solid var(--almost-black);
        border-radius: 4px;
    }

    .deckListItemCounts .black {
        height: 20px;
        width: 20px;
        background-color: var(--almost-black);
        border-radius: 4px;
    }

.colorSelector {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 10px;
}

    .colorSelector .white {
        border-radius: 5px;
        background-color: var(--card-white);
        border: 1px solid var(--almost-black);
        cursor: pointer;
    }

    .colorSelector .black {
        border-radius: 5px;
        background-color: var(--almost-black);
        color: var(--card-white);
        position: relative;
        cursor: pointer;
    }

        .colorSelector .black div {
            position: absolute;
            right: 5px;
            bottom: 5px;
            background-color: var(--card-white);
            height: 10px;
            width: 10px;
            border-radius: 5px;
        }

.cardList {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 40px 1fr 500px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    overflow: hidden;
}

    .cardList h1 {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .cardList .cardContainer {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        overflow-y: auto;
        grid-row: 2 / 3;
    }

    .cardList > input {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
        justify-self: end;
        margin-right: 40px;
    }

.blackCard {
    background-color: var(--almost-black);
    height: 200px;
    width: 200px;
    border-radius: 10px;
    color: var(--card-white);
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr 20px;
    box-shadow: var(--shadow) 5px 5px 10px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0 10px 10px 0;
}

    .blackCard .pickCircle {
        color: var(--almost-black);
        height: 20px;
        width: 20px;
        background-color: var(--card-white);
        border-radius: 10px;
        justify-self: end;
        text-align: center;
    }

.whiteCard {
    background-color: var(--card-white);
    height: var(--white-card-size);
    width: var(--white-card-size);
    border-radius: 10px;
    padding: 10px;
    box-shadow: var(--shadow) 5px 5px 10px;
    display: inline-block;
    flex: 0 0 var(--white-card-size);
    margin: 0 10px 10px 0;
}

.popupShadow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.popupContent {
    position: absolute;
    top: 10%;
    left: 25%;
    right: 25%;
    bottom: 10%;
    border-radius: 5px;
    background-color: var(--bg);
    padding: 20px;
    display: grid;
    grid-template-rows: 40px 1fr;
    grid-template-columns: 1fr 40px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

    .popupContent > button {
        line-height: 40px;
    }

    .popupContent > div {
        grid-column: 1 / 3;
        overflow: hidden;
    }

.import {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto 1fr 40px;
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    height: 100%;
}

    .import textarea {
        resize: none;
    }

    .import .controls {
        grid-column: 1 / 3;
        display: flex;
        flex-direction: row-reverse;
    }

    .import .cards {
        display: flex;
        overflow-y: auto;
        flex-wrap: wrap;
        align-content: flex-start;
    }

    .import .controls button {
        width: 150px;
        margin-left: 10px;
    }

.cardEditor {
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    grid-row-gap: 10px;
    grid-row: 1 / 3;
}

    .cardEditor .whiteCard {
        height: 360px;
        width: 360px;
        padding: 20px;
        font-size: 32px;
        justify-self: center;
        align-self: center;
        margin: 70px;
        border-radius: 20px;
    }

    .cardEditor .blackCard {
        grid-template-rows: 1fr 40px;
        height: 400px;
        width: 400px;
        font-size: 32px;
        padding: 20px;
        justify-self: center;
        align-self: center;
        margin: 50px;
        border-radius: 20px;
    }

    .cardEditor .blackCard .pickCircle {
        height: 40px;
        width: 40px;
        line-height: 40px;
        border-radius: 20px;
    }

    .cardEditor .form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row: 3 / 4;
    }

        .cardEditor .white.form {
            grid-template-columns: 1fr;
        }

        .cardEditor input {
            width: 100%;
        }

    .cardEditor .controls {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        grid-row: 4 / 5;
    }

.connStringInfo {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-column-gap: 10px;
}